

    <div class="image">
        <img class="ui tiny image" *ngIf="film.image" [src]="film.image">
    </div>
    
    <div class="content">
        <a class="header">{{ film.title }}</a>
        <div class="meta">
            <span class="cinema"><p>{{ film.genre }} </p></span>
          </div>
        <div class="extra">
            <div class="ui label"><i class="time icon"></i> {{ film.length }} min</div>
            <div class="ui middle floated primary button" [routerLink]="film.id">
                Info
                <i class="right chevron icon"></i>
              </div>
        </div>


    </div>



